* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imagen {
  background-image: url(../imagenes/portatil.jpg);
  height: 100vh;
  background-size: cover;
  opacity: 0.8;
  background-position: center;
  position: relative;
}

.imagen::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.4;
}

#navbar ul {
  list-style-type: none;
  overflow: hidden;
  text-align: center;
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#navbar ul li {
  display: inline-block;
}

#navbar ul li a {
  display: inline-block;
  color: white;
  padding: 25px;
  text-decoration: none;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title h1 {
  color: orange;
  font-size: 70px;
  text-align: center;
}

.title p {
  text-align: center;
  font-size: 50px;
  color: white;
}

.profile img {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  margin: 0 auto;
  margin-top: 40px;
  display: block;
}

.profile {
  padding: 80px;
  background-color: darkgray;
}

.texto2 {
  font-size: 20px;
  color: #000;
  text-align: justify;
  margin: 0 auto;
  width: 45%;
}

.texto3 {
  text-align: center;
  width: 70%;
  padding-bottom: 20px;
  font-size: 30px;
  border-bottom: 2px solid #fff;
  margin: 10px auto 40px;
}

.texto {
  position: relative;
  text-align: center;
}

.texto a {
  text-decoration: none;
  font-size: 20px;
  display: flex;
  justify-content: center;
  color: blue;
  margin-top: 50px;
}

.proyectos {
  padding: 80px;
}

.proyectos h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.contenerdor,
.cuadro {
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: 460px;
  width: 450px;
  padding: 15px;
  margin-top: -100px;
  transition: all 0.3s;
}

.cuadro img {
  border-radius: 10px;
  width: 100%;
  height: 60%;
}

.retos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.retos h2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cuadro a {
  opacity: 0.8;
  background: #333;
  color: white;
  position: absolute;
  padding: 1rem 0;
  bottom: 0;
  width: 100%;
  display: flex;
  text-decoration: none;
  text-transform: capitalize;
  justify-content: center;
}

.cuadro picture {
  position: relative;
}

.cuadro img {
  width: 100%;
}

.formulario{
  padding: 80px;
  margin-top: 50px;
}

.formulario1 h2{
  display: flex;
  justify-content: center;
}

.formulario p{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}



/*Footer*/

.titulo1 {
  color: white;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 20px;
}

footer {
  background: black;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.logo-footer {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 10px;
}

.logo-footer img {
  margin-top: 40px;
}

.redes-footer {
  align-items: center;
  justify-content: center;
  display: flex;
}

.redes-footer a {
  margin: 12px;
}

footer .fa-facebook-f {
  background: #3b5998;
  color: white;
}

footer .fa-twitter {
  background: #55acee;
  color: white;
}

footer .fa-github {
  background: #125688;
  color: white;
}
footer .fa-linkedin {
  background: #0077b5;
  color: white;
}

footer .icon-redes-footer {
  padding: 15px;
  font-size: 15px;
}


@media screen and (max-width: 400px){
  .imagen{
  width: 100%;
  }
  .title h1{
    font-size: 50px;
  }
  .cuadro img{
    width: 40%;
  }
  .titulo1{
    display: flex;
    justify-content: center;
  }
}